APP_NAME=Portal-Sekolah
APP_ENV=local
APP_KEY=base64:5jFPjkOsrJDaRyiQ3iulAlGNcFWGX/RomcKuNDW8jkE=
APP_DEBUG=true
APP_URL=https://ig-to-web.test

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID
APP_TIMEZONE=Asia/Jakarta

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4 

BCRYPT_ROUNDS=12
 
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sekolah_anas
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=c378d94940d32f
MAIL_PASSWORD=ed2d43157ae480
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# Instagram Business API
INSTAGRAM_APP_ID=1575539400487129
INSTAGRAM_APP_SECRET=7b6f727ebfd70393214e92b9b93676c3
INSTAGRAM_REDIRECT_URI=https://ig-to-web.test/instagram/callback
INSTAGRAM_WEBHOOK_URI=https://maudu-rejoso.sch.id/instagram/webhook
INSTAGRAM_WEBHOOK_TOKEN=mySchoolWebhook2025

VAPID_PUBLIC_KEY=BPvEnS6Fo8vCel6AQJadw49Qf77e9paT3FT4m2TqX_tn2yOvMx-vlppoGyM5QmBx3vMeCJ0v8JZuAew4vNrEdc8
VAPID_PRIVATE_KEY=VY31AoxpxwLvkbSEYVRBsQOdIUtr_2MwDe80uHaeS-I
VAPID_SUBJECT=https://ig-to-web.test

# Attendance (ZKTeco iClock Push)
ATTENDANCE_ICLOCK_SECRET=
ATTENDANCE_REQUIRE_USER_IDENTITY=false
ATTENDANCE_REQUIRE_USER_VERIFIED=false
